.row {
  background-color: #f8f9fa;

  h1 {
    color: #0d6efd;
  }

  .lead {
    color: #6c757d;
  }

  img {
    max-height: 320px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }

  .d-grid {
    justify-content: center;

    @media (min-width: 992px) {
      justify-content: flex-start;
    }
  }
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}
