<div class="container my-5">
  <div class="row align-items-center g-4 p-5 rounded-4 border bg-light shadow flex-column flex-lg-row">
    
    
    <div class="col-lg-5 text-center order-1 order-lg-2">
      <img class="img-fluid gafas-img" src="assets/img/gafas.png" alt="Gafas" />
    </div>

    <!-- Texto abajo en móvil, izquierda en escritorio -->
    <div class="col-lg-7 text-center text-lg-start order-2 order-lg-1">
      <h1 class="display-4 fw-bold lh-1 mb-4 text-primary">
        Crea sitios rápidos <br> y modernos con Bootstrap
      </h1>
      <p class="lead mb-4 text-secondary">
        Construye sitios responsive y personalizables con la <br>
        librería más popular del mundo. Bootstrap ofrece <br>
        variables Sass, componentes listos y poderosos plugins JS.
      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-center justify-content-lg-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Comenzar</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver más</button>
